.Banner {
    width: 100vw;
    /* aspect-ratio: 2/1; */
    /* min-height: 300px; */
    
}

.Banner .image{
    background-image: url(https://images.unsplash.com/photo-1604719312566-8912e9227c6a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Z3JvY2VyeSUyMHN0b3JlfGVufDB8fDB8fA%3D%3D&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-color: lightseagreen;
    background-blend-mode: darken;
    aspect-ratio: 2/1;
}

.Banner .motto{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    font-size: xx-large;
    font-weight: bold;
    color: chartreuse;
    /* background: crimson; */
    padding: 5px;
    border-radius: 5px;
}

[icon=search]{
    background-image: url(../svgs/search-svgrepo-com.svg);
    cursor: pointer;
}
[icon=search]:hover {
    background-color: #f463fd;
}

/* #search-div3410{
    display: grid;
    width: 80vw;
    min-width: 250px;
    max-width: 350px;
    background-color: white;
    position: absolute;
    left: 50%;
    padding: 3px;
    top: 35%;
    gap: 2px;
    transform: translate(-50%,-50%);
    grid-auto-flow: column;
    grid-auto-columns: 80% 20%;
    font-size: large;
    border-radius: 5px;
    align-items: center;
} */





.swiper {
    width: 100%;
    height: 100%;
    display: grid;
    
}

.swiper-slide {
    display: grid;
    align-items: center;
    align-content: center;
}