.nav-container {
    height: 4rem;
    background-color: #333333;
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; */
    overflow: hidden;
    z-index: 10;
    position: sticky;
    top: 0;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    
  }
  
  .nav-container .logo {
    max-width: 250px;
    padding: 0 10px;
    overflow: hidden;
  }
  
  .nav-container .logo a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
  }
  
  .nav-container .logo a img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .nav-container .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 10px;
    z-index: 1;
    font-weight: bold;
  }
  
  .nav-container .navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-container .navbar ul li a {
    text-decoration: none;
    color: #999999;
    font-size: 14px;
    text-transform: uppercase;
    display: grid;
    height: 100%;
    /* line-height: 60px; */
    cursor: pointer;
    padding: 0 10px;
    border-radius: 5px;
    display: grid;
    align-items: center;
  }
  
  .nav-container .navbar ul li a:hover {
    color: #ffffff;
    background-color: rgba(23, 23, 23, 0.9);
  }
  
  .nav-container .navbar ul .close {
    display: none;
    text-align: right;
    padding: 10px;
  }
  
  .nav-container .navbar ul .close span {
    /* font-size: 40px; */
    display: inline-block;
    /* border: 1px solid #cccccc; */
    padding: 0 10px;
    cursor: pointer;
    color: white;
  }
  
  .nav-container .navbar .icon-bar {
    width: 50px;
    height: 100%;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-evenly;
    cursor: pointer;
  }
  
  .nav-container .navbar .icon-bar i {
    background-color: #ffffff;
    height: 2px;
  }
  
  @media only screen and (max-width: 650px) {
    #mobile-searchdiv{
      display: grid!important;
    }
    #desktop-searchdiv{
      display: none!important;
    }

  }

  @media only screen and (max-width: 650px) {
    
    
    /* #mobile-searchdiv{
      display: grid!important;
    }
    #desktop-searchdiv{
      display: none!important;
    } */

    .nav-container {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
    
    .nav-container .logo {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }
  
    .nav-container .navbar {
      -webkit-box-flex: 0;
      -ms-flex: 0;
      flex: 0;
    }
  
    .nav-container .navbar ul {
      display: grid;
      position: fixed;
      left: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      background: #0a0202;
      width: 100%;
      height: fit-content;
      overflow: auto;
      -webkit-transition: left .3s;
      -o-transition: left .3s;
      transition: left .3s;
      grid-auto-rows: 3rem;
    }
  
    .nav-container .navbar ul li a {
      padding: 10px;
      font-size: 16px;
      height: auto;
      line-height: normal;
      color: white;
      font-weight: bold;
  }
  
    .nav-container .navbar ul .close {
      display: block;
    }
  
    .nav-container .navbar .icon-bar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  
    .nav-container .navbar ._Menus-show {
      left: 0;
    }
  }


p#Store-title-nav {
    font-size: x-large;
    color: aliceblue;
    font-family: Bebas Neue;
}

.nav-container .navbar .active-header {
  /* background-color: #232321; */
  background-color: #282825;
  color: white;
  /* border-bottom: 2px red solid; */
}

.nav-container .navbar .unactive-header {
  color: cadetblue;
}

[icon="shopping-cart"]{
  background-image: url(../svgs/shopping-cart-svgrepo-com.svg);
}

.notif-small {
  font-size: small;
  color: white;
  background-color: #f463fd;
  padding: 5px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  /* display: block; */
  height: 1rem;
  display: grid;
  align-content: center;
  border: 1px #2f18b1 solid;
}

#cartli {
  /* height: 100%; */
  background-origin: content-box;
  background-position-x: center;
  aspect-ratio: 0;
}


