.product {
    /* height: 10vh; */
    /* border: 1px #2ae5c2 solid; */
    border-radius: 4px;
    background: white;
    aspect-ratio: 1/2;
    display: grid;
    min-height: 100px;
    max-height: 250px;
    justify-items: center;
    padding: 1rem;
    box-shadow: 1px 1px 5px darkcyan;
}

.product .about {
    color: #000000;
}

.product img{
    height: 100%;
    width: 100%;
}
.product .image {
    /* height: 100%; */
    width: 100%;
    min-height: 100px;
    background-size: cover;
    background-repeat: round;
    aspect-ratio: 1;
}

.product .btn-addtocart{
    color: black;
    font-size: small;
}

.product:hover {
    /* background: #3e897b; */
    border: 1px #4242ff solid;
    transform: scale(1.1);
}

a.btn-viewcart {
    background-color: yellow;
    border-radius: 2px;
    display: grid;
    align-items: center;
    font-size: small;
    padding: 0px 4px;
}