.slctbtnbtn {
    display: grid;
    grid-auto-flow: column;
    gap: 3%;
    margin-bottom: 1rem;
}

.grdend {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: 1rem;
}


.bluewhtbtn {
    background-color: blue;
    color: white;
    font-size: small;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    cursor: pointer;
    padding: 3px;
    grid-auto-flow: column;
    gap: 2px;
}

.PrdctTable-head {
    background-color: white;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 10% 45% 20% 20%;
    justify-items: center;
    font-size: small;
    font-weight: bold;
    justify-items: left;
    align-items: center;
}